.Input {
  position: relative;
  margin-bottom: 25px;
  label {
    position: absolute;
    top: -1rem;
    left: 0px;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    &:focus {
      outline: none;
    }
    &:focus ~ label {
      top: -16px;
      font-size: 12px;
    }
  }
}
.valid input ~ label {
  top: -16px;
  font-size: 12px;
  color: green;
}
.invalid input ~ label {
  color: red;
}
.valid input {
  border-bottom: 1px solid green;
}
.invalid input {
  border-bottom: 1px solid red;
}
